@import url('https://fonts.cdnfonts.com/css/smack-boom');
@import url('https://fonts.cdnfonts.com/css/nunito-sans');

.uni{
    font-family: 'Smack Boom', sans-serif;
}

.nun{
    font-family: 'Nunito Sans', sans-serif;
                                                
}

.bgcontact{
    /* background-image: linear-gradient(120deg,  #dbf5df 100%, #F0F4FE 25%); */
    background-image: linear-gradient(161.75deg, rgba(225, 249, 227, 0.5) 0.2%, rgba(240, 244, 254, 0.25) 109.04%);
}

.blur-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Adjust blur intensity as needed */
    z-index: 1000
  }