# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: staging-server-deployment-to-azure-app-service

on:
  push:
    branches:
      - dev_server
  workflow_dispatch:
  
defaults:
  run:
    working-directory: Server
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm install pm2@latest
          npm run build --if-present
          npm run test --if-present
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'technoob-staging'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_1ED0C7AB1FD14BCEBAE4D5C3C50431DF }}
          package: .


      - name: Login to Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Execute command on Azure Web App
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp create-remote-connection -g Technoob -n technoob-staging
            echo "Running npm run start on new terminal..." | ssh technoob-staging\$technoob-staging@technoob-staging.scm.azurewebsites.net 'nohup bash -c "cd /home/site/wwwroot/Server && node ./azure_Queue/worker.js" &'
            exit
        
